#imagem-cabecario{
    width: 100px;
    height: 100px;
    border: 2px solid #000000;
}

.cabecario{
    background-color: rgb(0, 102, 255);
    border: 2px solid #000000;
}

.conteudo {
    border: 2px solid #000000;
    margin: 30px 0 50px 300px;
}

.atalhos {
}