body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
}

button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(150, 150, 150);
    color: rgb(0, 0, 0);
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
}

#counter {
    display: flex;
    flex-direction: row;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
}